// .advantages-icons-list {
//   display: flex;
//   justify-content: center;
// }
// .checkbox-container {
//   margin-top: 20px;
// }
.avantages {
  margin-top: 60px;
  // display: flex;
}
.avantages__item {
  & + & {
    margin-top: 30px;
    // margin-left: 30px;
  }
}
.avantages__box {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--icons-background-color);
  border-radius: 4px;
  height: 120px;
  width: 270px;
}
.advantages__icon {
  width: 270px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--icons-background-color);
}

// .advantages__icon:not(:first-child) {
//   width: calc(100% / 4 - 30px);
//   margin-left: 30px;
// }

.avantages__title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  @include text-font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--header-links-title-text-color);
}
.avantages__posttitle {
  @include text-font(400, 14px, 1.71, 0.03em);
  color: var(--primary-text-color);
}
