.advantages {

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    // margin-bottom: -30px;
  }
}

.advantages__item {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    &:nth-last-of-type(1),
    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }
    &:nth-last-of-type(2),
    &:nth-last-of-type(4) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
    margin-bottom: 0;
    margin-right: 30px;
    &:nth-last-of-type(1) {
      margin-right: 0;
    }
    
  }
}

.advantages__box {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--icons-background-color);
  border-radius: 4px;
  text-align: center;
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // height: 120px;
  // width: 270px;

  @media screen and (min-width: 768px) {
    width: 354px;
    margin-right: 30px;
    // justify-content: center;
    // align-items: center;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-right: 30px;
    
  }
}

.advantages__icon {
  // width: 270px;
  // height: 120px;
  // margin-left: auto;
  // margin-right: auto;
  background-color: var(--icons-background-color);
}

.advantages__title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--header-links-title-text-color);
  @include text-font(700, 14px, 1.14, 0.03em);
}

.advantages__posttitle {
  color: var(--primary-text-color);
  @include text-font(400, 14px, 1.71, 0.03em);
}
