.section--nopaddigtop {
  padding-top: 0;
}
.section__title {
  margin-bottom: 50px;
  @include text-font(null, 36px, 1.16, 0.03em);
  text-align: center;
  color: var(--header-links-title-text-color);
}
.production {
  display: flex;
}
.production__thumb {
  position: relative;
}
.paragraf-container {
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
}
.production__item {
  & + & {
    margin-left: 30px;
  }
}
.production__posttitle {
  @include text-font(700, 14px, 1.14, 0.03em);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--hero-text-color);
}
