:root {
  --primary-text-color: #757575;
  --header-links-title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --hero-text-color: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.15);
  --hover-btn-color: #188ce8;
  --footer-item-adres-color: rgba(255, 255, 255, 0.6);
  --box-shadow-color: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --icons-background-color: #f5f4fa;
  --icons-socisls-color: #afb1b8;
  --border-cards-color: #eeeeee;
}
